footer#footer
  .wrapper
    span All the contents are property of the&nbsp;
      a(href="http://www.tate.org.uk/", target="_blank") Tate Modern
      | &nbsp;gallery and are available at their&nbsp;
      a(href="https://github.com/tategallery/collection", target="_blank") Github
      | &nbsp;
      i.fa.fa-github
      br
      | Design and implementation by&nbsp;
      a(href="http://reneses.io/", target="_blank") Álvaro Reneses
      | , code available at his&nbsp;
      a(href="#", target="_blank") Github
      | &nbsp;
      i.fa.fa-github
