header#header-main
  .wrapper
    a(href='/')
      img#logo(src='/images/logo.png')
    nav
      #header-main-menu
        a(href='/') Home
        a(href='/art/') Art Gallery
        a(href='/artists/') Artists
      #header-main-social
        a(href='https://www.facebook.com/tategallery', target='_blank')
          i.fa.fa-facebook
        a(href='https://twitter.com/tate', target='_blank')
          i.fa.fa-twitter
        a(href='https://www.youtube.com/user/tate', target='_blank')
          i.fa.fa-youtube-play
ul#mobile-menu
  a(href='/') Home
  a(href='/art/') Art Gallery
  a(href='/artists/') Artists
  a.mobile-social(href='https://www.facebook.com/tategallery', target='_blank')
    i.fa.fa-facebook
  a.mobile-social(href='https://twitter.com/tate', target='_blank')
    i.fa.fa-twitter
  a.mobile-social(href='https://www.youtube.com/user/tate', target='_blank')
    i.fa.fa-youtube-play